@import url("styles/reset.css");

body {
  background: #ffffff;
}

.hero {
  background: #EF3E33;
  display: block;
	overflow: hidden;
  width: 100%;
}

.hero__title,
.hero__img {
  width: 100%;
  display: block;
  height: 300px;
}

.hero__title {
  background-image: url('img/gtc-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 220px;

  text-indent: -99999px;
  overflow: hidden;

  margin-top: 20px;
  margin-bottom: 20px;
}

.hero__img {
  background-image: url('img/hero.jpg');
  background-size: cover;
}

.countdown {
  display: block;
  background: #fff;
	text-align: center;
	padding: 50px 0;
	color: #293638;
}

.countdown__title {
	font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	padding-bottom: 30px;
	line-height: 22px;
}

.countdown__message {
	font-family: "swiss_721light", helvetica, arial, sans-serif;
	font-size: 26px;
	text-transform: capitalize;
	line-height: 38px;
	padding: 0 20px;
}

.countdown__message--highlight {
	color: #41C2CF;
}

.intro {
  display: block;
  background: #fff;
	text-align: left;
	padding: 50px 10%;
	color: #293638;
}

.intro__title {
	font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	padding-bottom: 30px;
	line-height: 22px;
}

.intro__message {
	font-family: "swiss_721light", helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 26px;
}


.madlib {
  display:none;
  background: #3ac2cf;
}

.story__feed {
  display: none;
}

@media (min-width: 768px) {
  .hero__title,
	.hero__img {
    width: 50%;
    height: 500px;
    display: block;
		float: left;
  }

  .hero__title {
    margin-top: 46px;
    background-size: contain;
    height: 410px;
  }

	.countdown {
		padding: 100px 0;
	}

	.countdown__title {
		font-size: 18px;
		padding-bottom: 50px;
	}

	.countdown__message {
		font-size: 54px;
		line-height: 70px;
	}

	.intro {
		text-align: left;
		padding: 100px 20% 100px 12%;
	}

	.intro__title {
		font-size: 18px;
		padding-bottom: 50px;
	}

	.intro__message {
		font-size: 24px;
		line-height: 48px;
	}

}

h2 {
  font-family: 'swiss_721light';
}
