@import url("reset.css");

/* Countdown */
/* .intro,
.storyForm {
  display: none;
} */
/* Post-countdown */
.countdown,
.footer--preCountdown {
  display: none !important;
}

body {
  background: white;
}

/***** Hero Component *****/
.hero {
  background: #EF3E33;
  display: block;
  overflow: hidden;
  width: 100%;
}

.hero__title,
.hero__img {
  width: 100%;
  display: block;
  height: 300px;
}

.hero__title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 220px;

  text-indent: -99999px;
  overflow: hidden;

  margin-top: 20px;
  margin-bottom: 20px;
}

.hero__img {
  background-size: cover;
}

/***** Countdown Component *****/
.countdown {
  display: block;
  background: #fff;
  text-align: center;
  padding: 50px 20px;
  color: #293638;
}

.countdown__title {
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 30px;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.countdown__title p {
  color: #41C2CF;
  padding-top: 20px;
  letter-spacing: 0.1em;
}

.countdown__title p em {
  font-family: arial, sans-serif;
  font-weight: bold;
}

.countdown__message {
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 26px;
  text-transform: capitalize;
  line-height: 38px;
  padding: 0 20px;
}

.countdown__message--highlight {
  color: #41C2CF;
}

.countdown__clock {
  width: 235px;
  display: inline-block;
}

/***** Donate Component *****/
.donate__box {
  background: #EDEFEF;
  padding: 40px 10px;
  margin: 0 auto;
}

.donate__box h2 {
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  text-transform: uppercase;
}

.donate__box p {
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 560px;
  padding: 20px;
}

.donate__box p a {
  color: #000;
}

.donate__button {
  background-color: #1F292A;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 10px 4px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.donate__button:hover {
  background-color: #000;
  display: block;
  border-radius: 4px;
  margin: 10px 4px;
}

.donate__button--subscription {
  background-color: #B0BD4A;
}

.donate__button--subscription:hover {
  background-color: #8A9B2D;
}

/***** Intro Component *****/
.intro {
  background: #fff;
  padding: 60px 20px 40px;
  max-width: 860px;
  margin: 0 auto;
}

.intro__paragraph {
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  padding: 0 0 30px;
}

.intro__tagline {
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.intro__tagline p {
  color: #38B6C4;
}

.intro__footer {
  display: none;
}

/* .intro__readMore {
  display: block;
  float: left;
  min-height: 74px;
  min-width: 400px;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  position: relative;
}

.intro__readMore p {
  color: #38B6C4;
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  position: absolute;
  bottom: 0;
  left: 56px;
}

.intro__donateNow {
  display: block;
  padding-top: 120px;
}

.intro__donateNow p {
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 36px;
}

.intro__donateNow a {
  color: #000;
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
*/

/***** Story Form Component *****/
.storyForm {
  background: #3ac2cf;
  padding: 60px 20px 40px;
}

.storyForm__form {
  max-width: 860px;
  margin: 0 auto;
}

.storyForm__form h2 {
  font-size: 32px;
  padding-bottom: 20px;
}

.storyForm label {
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  display: block;
  padding: 10px 0;
}

.storyForm textarea {
  resize: none;
}

.storyForm input[type="text"],
.storyForm textarea {
  appearance: none;
  border-radius: none;
  border: solid 3px #fff;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  max-width: 860px;
  padding: 10px 8px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  box-sizing: border-box;
}

.storyForm input:focus,
.storyForm textarea:focus {
  outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5)
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5)
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5)
}

.storyForm__wrap {
  display: inline-block;
  width: 100%;
  padding-bottom: 40px;
}

.storyForm__year,
.storyForm__city {
  float:left;
}

.storyForm__year {
  width: 30%;
}

.storyForm__city {
  width: 70%;
}

.storyForm select {
  appearance:none;
  -webkit-appearance: none;
  background: transparent;
  border-radius:0px;
  border:3px solid #fff;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 16px;
  margin: 0;
  outline:none;
  padding:10px 10px;
  width: 90%;
  cursor: pointer;
  background-image: url("dropdown-arrow.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

.storyForm__submit a {
  /* background-color: #1E3588; */
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 20px 0 40px;
  padding: 20px 20px 20px 80px;
  text-decoration: none;
  text-transform: uppercase;

  background: #293d79; /* Old browsers */
  background-image: url("fb.png");
  background-image: url("fb.png"), -moz-linear-gradient(left,  #364B8E 0%, #364B8E 20%, #5065A5 24%, #5065A5 100%); /* FF3.6+ */
  background-image: url("fb.png"), -webkit-gradient(linear, left top, right top, color-stop(0%,#364B8E), color-stop(20%,#364B8E), color-stop(20%,#5065A5), color-stop(100%,#5065A5)); /* Chrome,Safari4+ */
  background-image: url("fb.png"), -webkit-linear-gradient(left,  #364B8E 0%,#364B8E 20%,#5065A5 24%,#5065A5 100%); /* Chrome10+,Safari5.1+ */
  background-image: url("fb.png"), -o-linear-gradient(left,  #364B8E 0%,#364B8E 20%,#5065A5 20%,#5065A5 100%); /* Opera 11.10+ */
  background-image: url("fb.png"), -ms-linear-gradient(left,  #364B8E 0%,#364B8E 20%,#5065A5 240,#5065A5 100%); /* IE10+ */
  background-image: url("fb.png"), linear-gradient(to right,  #364B8E 0%,#364B8E 20%,#5065A5 20%,#5065A5 100%); /* W3C */

  background-repeat: no-repeat;
  background-position: 8% 50%;

}

.storyForm__donateNow {
  margin-bottom: 20px;
}

.storyForm__donateNow p {
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 36px;
}

.storyForm__donateNow a {
  color: #000;
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5em;
}

/***** PreCountdown Footer Component *****/
.footer--preCountdown {
  padding-bottom: 120px;
  background-position: 50% 90%;
  text-align: center;
  background-color: rgba(72, 194, 206, 1);
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  letter-spacing: 0.01em;
  font-size: 16px;
}

.footer--preCountdown p {
  display: block;
  background-position: 15px 50%;
  padding: 35px 0 31px 30px;
}

.footer--preCountdown .links {
  display: inline-block;
}

.footer--preCountdown a {
  display: inline-block;
  margin: 0 0 0 25px;
  text-decoration: none;
  color: black;
  padding: 0 0 2px 0;
  border-bottom: 1px solid black;
  letter-spacing: 0.08em;
  font-size: 16px;
  font-family: "novecento_sans_widenormal", helvetica, arial, sans-serif;
}

.footer--preCountdown a:first-child {
  margin: 0;
}

.footer--preCountdown a:visited {
  text-decoration: none;
  color: black;
}

.footer--preCountdown, .wrapper:after {
  height: 84px;
}

/* ================= */
/* Share Page        */
/* ================= */


/* Donation component        */
.donation {
  background: #fff;
  padding: 40px 10px;
  margin: 0 auto;
}

.donation h2 {
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 1.2em;
  text-transform: uppercase;
}

.donation p {
  font-family: "swiss_721light", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0 20px;
}

.donation p a {
  color: #000;
}

.donation__button {
  background-color: #1F292A;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: "novecento_sans_widedemibold", helvetica, arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0 4px 10px 0;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.donation__button:hover {
  background-color: #000;
}

.donation__button--subscription {
  background-color: #B0BD4A;
}

.donation__button--subscription:hover {
  background-color: #8A9B2D;
}



/* Media Queries */
@media (max-width: 360px) {
  footer p {
    font-size: 15px;
    background-position: 10px 50%;
  }

  footer .links a {
    font-size: 15px;
  }
}

@media (min-width: 415px) {
  .countdown__clock {
    width: auto;
  }
}

@media (min-width: 768px) {
  .hero__title,
  .hero__img {
    width: 50%;
    height: 400px;
    display: block;
    float: left;
  }

  .hero__title {
    margin: 60px 0;
    background-size: contain;
    height: 280px;
  }

  .countdown {
    padding: 90px 0;
  }

  .countdown__title {
    font-size: 18px;
    padding-top: 50px;
  }

  .countdown__message {
    font-size: 54px;
    line-height: 70px;
  }

  .donate__box {
    width: 80%;
  }

  .donate__box p {
    font-size: 18px;
    line-height: 28px;
  }

  .donate__button,
  .donate__button:hover {
    display: inline-block;
    min-width: 80px;
  }

  .intro__paragraph {
    font-size: 24px;
    line-height: 38px;
  }

  .intro__tagline {
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 30px;
  }

  .intro__donateNow {
    float: right;
    text-align: right;
    padding-top: 22px;
  }

  .intro__footer {
    /* display: block; */
    display: none;
  }

  .intro__footer:after {
    content: "";
    display: table;
    clear: both;
  }

  .storyForm__form h2 {
    font-size: 42px;
    padding-bottom: 40px;
  }

  .storyForm label {
    font-size: 16px;
  }

  .storyForm input[type="text"],
  .storyForm textarea {
    font-size: 22px;
    padding: 16px 12px;
    margin-bottom: 30px;
  }

  .storyForm select {
    font-size: 22px;
    padding:16px 12px;
    width: 90%;
    cursor: pointer;
  }

  .storyForm__donateNow p {
    font-size: 16px;
    line-height: 36px;
  }

  .storyForm__donateNow a {
    font-size: 16px;
    line-height: 1.5em;
  }

  .donation {
    max-width: 860px;
  }

  .donation h2 {
    font-size: 18px;
  }

  .donation__button,
  .donation__button:hover {
    display: inline-block;
    min-width: 80px;
    margin-bottom: 40px;
  }


  .footer--preCountdown {
    padding-bottom: 0;
    font-size: 18px;
    background-position: 98.5% 50%;
    background-size: 113px 55px;
  }

  .footer--preCountdown p {
    display: inline-block;
    padding-left: 50px;
    background-position: 0 50%;
  }

  .footer--preCountdown, .wrapper:after {
    height: 84px;
  }

  .footer--preCountdown a:first-child {
    margin: 0 0 0 25px;
  }
}


h2 {
  font-family: 'swiss_721light';
}

.storyFeed {
  display: none;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -84px;
}

.wrapper:after {
  content: "";
  display: block;
}
