/* line 1, /Users/pierre/dev/grow_the_circle/app/assets/stylesheets/images.css.scss */
.hero__title {
  background-image: url(gtc-logo.png);
}

/* line 5, /Users/pierre/dev/grow_the_circle/app/assets/stylesheets/images.css.scss */
.hero__img {
  background-image: url(hero.jpg);
}

/* line 9, /Users/pierre/dev/grow_the_circle/app/assets/stylesheets/images.css.scss */
footer p {
  background-image: url(cal.png);
  background-repeat: no-repeat;
  background-size: 31px 29px;
}

/* line 16, /Users/pierre/dev/grow_the_circle/app/assets/stylesheets/images.css.scss */
footer {
  background-image: url(footer-logo.png);
  background-repeat: no-repeat;
  background-size: 113px 55px;
}
